<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1 fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">Shopify</a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">

            <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for Products">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li class="nav-item" *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="menuType">
        <ul class="navbar-nav ms-auto"  id="navl"*ngSwitchCase="'default'">
            <li class="nav-item"><a routerLink="home">Home</a></li>
            <li class="nav-item"><a routerLink="seller">Seller</a></li>
            <li class="nav-item"><a routerLink="productlist">Product List</a></li>
            <li class="nav-item"><a href="#">Login</a> </li>
            <li class="nav-item"><a href="#">Cart(0)</a></li>
        </ul>
    </div>
    </div>
    </div>
    </nav>