<div class="container">
<div class="seller">
    <div *ngIf="!showLogin" class="signup">
        <h1> Seller SignUp</h1>
    
        <form #sellerSignUp="ngForm" (ngSubmit)="SignUp(sellerSignUp.value)" class="common-form">
        <input class="form-input" type="text" ngModel name="Name" placeholder="Enter Name">
        <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">

            <button class="form-button">SignUp</button>
            <a id="link" (click)="openLogin()">Already have account ? <b id="log"> Click to Login</b></a>
        </form>
    </div>
</div>



<div class="seller">
    <div *ngIf="showLogin" class="Login">
        <h1> Login </h1>
        <form [formGroup]="loginForm" #sellerSignUp="ngForm" (ngSubmit)="SignUp(sellerSignUp.value)" class="common-form">
            <span id="userspan" *ngIf="user && user.invalid && user.touched">This Input field is Not Valid</span>
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email" formControlName="user">
            <span id="userspan" *ngIf="password && password.invalid && password.touched">This Password Input field is Not
                Valid</span>
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password"
                formControlName="password">
            <button [disabled]="loginForm.invalid" class="form-button">Login</button>
            <a id="link" (click)="openSignUp()">Dont have account ?<b id="log"> SignUp</b></a>
        </form>
    </div>
</div>
</div>


<img class="img3"src="/assets/sh4.jpg" alt="" />
