* {
    transition: .3s ease-in-out;
}

.productList{
margin: 7%;

}

table {
    text-align: center;
    color: rgb(0, 65, 34);
    border-collapse: collapse;
    width: 95%;
    margin: 40px;
    background-color: aliceblue;
    margin-bottom: 100px;


}

table td,
table th {
    border: 1px solid rgb(0, 51, 44);


    padding: 10px;
    min-height: 160px;
margin: 15%;

}

img {
    width: 100px;
    height: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    color: rgb(0, 56, 73);
    
    }
    
    #delete {
        color: rgb(0, 110, 255);
        cursor: pointer;
        font-size: 20px;
    }
    
    #delete:hover {
    
        color: rgb(54, 14, 14);
        text-shadow: 0px 0px 7px #111;
    
    }
    
    mat-paginator {
        background: none;
        margin-right: 60px;
    
    
    }
    
    #tog {
    
        text-align: justify;
        margin-top: 0px;
    }
    
    #some_id {
        margin-bottom: 70px;
    
    
    }

   
    
    

    
    
    
   